.nav__link {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav__link + .nav__link {
  margin-top: 16px;
}

a.nav__link.logout {
  position: absolute;
  bottom: 2em;
}

.nav__link:not(.logout) {
  position: relative;
}

.nav__link.active:not(.logout)::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--red-1);
  padding: 3px;
  border-radius: 100vh;
  height: 100%;
}

@media screen and (min-width: 1060px) {
  .nav__link.active:not(.logout)::after {
    display: none;
  }

  .nav__link.active:not(.logout)::before {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    background-color: var(--red-1);
    padding: 3px;
    border-radius: 100vh;
    height: 100%;
  }
}
