.text-1 {
  font-size: 0.875rem;
}

p.text-2 {
  font-size: 1rem;
}

.text--dark-2 {
  color: var(--light-purple-1);
}

.text--dark-1 {
  color: var(--dark-blue);
}

.text--white {
  color: var(--white);
}

.text--inline {
  display: inline-block;
}

.bold {
  font-weight: 700;
}
