.payment__method {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment__method + .payment__method {
  margin-top: 16px;
}

.payment__method__number {
  flex: 1 0 auto;
  padding: 0 0.5em;
}

.payment__method__remove {
  flex: 0 0 auto;
  padding: 0.5em;
  border-radius: 4px;
}

@media screen and (min-width: 374px) {
  .payment__method__number {
    font-size: 1rem;
    padding: 0 1em;
  }

  .payment__method__remove {
    font-size: 1rem;
    padding: 0.5em 1em;
  }
}
