.App {
  max-width: 1319px;
  min-height: calc(100vh - 4em);
  background: linear-gradient(304.24deg, #f8f8ff 0%, #ffffff 86.71%);
  border-radius: 1em;
  padding-bottom: 1em;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.text-1 {
  font-size: 0.875rem;
}

p.text-2 {
  font-size: 1rem;
}

.text--dark-2 {
  color: var(--light-purple-1);
}

.text--dark-1 {
  color: var(--dark-blue);
}

.text--white {
  color: var(--white);
}

.text--inline {
  display: inline-block;
}

.bold {
  font-weight: 700;
}

.sidebar {
  max-width: 100%;
  border-radius: 1em;
  background-color: var(--light);
  padding: clamp(1em, 1vmin, 4em);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  z-index: +5;
}

.sidebar__full__height {
  min-height: calc(100vh - 5em);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.sidebar__header {
  flex: 1 0 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user__info__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.user__avatar {
  flex: 1 0 40px;
  max-width: 40px;
  display: inline-block;
  margin-right: 16px;
  border-radius: 8px;
}

.menu__button {
  flex: 0 0 32px;
  max-width: 32px;
  display: inline-block;
  cursor: pointer;
}

.navbar {
  flex: 0 0 100%;
  max-width: 12ch;
  display: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 48px;
  margin-bottom: 2em;
}

nav.show__navbar {
  display: flex;
}

.user__info {
  flex-basis: auto;
  display: inline-block;
}

.billing__information {
  padding: clamp(1em, 1vmin, 4em);
  overflow-x: hidden;
  margin-bottom: 40px;
}

.billing__heading {
  font-size: 2rem;
  margin-bottom: 32px;
  color: var(--dark-blue);
}

.order__history__section {
}

.order__history__heading {
}

.order__history__description {
  margin-bottom: 32px;
}

.order__history__table {
  table-layout: fixed;
  max-width: 617px;
  overflow-x: scroll;
  white-space: nowrap;
}

.order__history__table__header {
  margin-bottom: 16px;
}

thead {
  width: 100%;
}

.history__load-more {
  border: none;
  text-decoration: underline;
  color: var(--red-2);
  display: block;
  margin-bottom: 40px;
}

.payment__method__section {
}

.payment__method__heading {
}

.payment__method__description {
  margin-bottom: 16px;
}

.payment__plan {
  max-width: 258px;
  background-color: var(--red-1);
  margin: 0 auto;
  padding: 2em;
  border-radius: 1em;
}

.payment__plan__description,
.payment__plan__renews__on {
  margin-bottom: 16px;
}

p.payment__plan__name {
  font-size: 1.5rem;
  margin-bottom: 6px;
}

.payment__plan__renews__on {
}

.cancel__sub {
  display: inline-block;
  border: 1px solid var(--white);
  border-radius: 0.5em;
  padding: 0.5em 1em;
  white-space: nowrap;
}

/* @media screen and (min-width: 800px) {
  .App {
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .sidebar {
    max-width: 260px;
    border-radius: 0;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    background-color: var(--light);
    padding: 2em;
    display: block;
    min-height: auto;
    position: relative;
  }

  .sidebar__header {
    display: block;
  }

  .user__info__link {
    max-width: 100%;
  }

  .user__avatar {
    flex: 1 0 55px;
    max-width: 55px;
  }

  img.menu__button {
    display: none;
  }

  .navbar {
    display: flex;
    margin-top: 96px;
  }

  nav.show__navbar {
    display: flex;
  }

  .billing__information {
  }

  .billing__heading {
    margin-bottom: 80px;
  }

  .order__history__section {
    flex: 1 0 617px;
    max-width: 617px;
  }

  .order__history__heading {
    margin-bottom: 8px;
  }

  .order__history__description {
    margin-bottom: 32px;
  }
} */
